@import url("https://fonts.googleapis.com/css?family=Sunflower:300");

body, input, select, textarea {
  color: #ffffff;
  font-family: "Sunflower", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}
